.textSearch {
  display: flex;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #ddd;
  input{
      height: 30px;
      padding: 20px 10px;
      padding-left: 40px;
      margin:20px 30px;
      font-size: 30px;
      border: 0;  
      flex:1;
      background-color: #f8f8f8;
      border-radius: 10px;
  }
  .iconfont{
      position: absolute;
      top: 50%;
      font-size: 32px;
      left:34px;
      margin-top:-16px;
  }
}